:root {
    --margin-top-width: 10px;
    --margin-side-width: 15px;
    --color-hightlight: #F50;
    --color-text-main: #EEE;
    --color-text-minor: #999;
    --color-background: #0D0D0D;
}

body {
    background-color: var(--color-background);
    margin: 0px;
}
.split{
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 1;
    top: 0;
}
div.left {
    left: 0;
}
div.right {
    right: 0;
    border-left: 1px solid #99999940 ;
    margin: 10px; 
}

/* general text */
h1 {
    font-family: "gridlite-pe-variable",sans-serif;
    font-variation-settings: 'wght' 750, 'BACK' 150, 'RECT' 150, 'ELSH' 3;
    color: #F50;
    font-size: 5rem;
    margin: auto;
}
p {
    font-family: "bicyclette", noto-sans-hk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #999;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0px; margin: 0px;
}
h3 {
    font-family: "bicyclette", noto-sans-hk, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #999;
    font-size: 24px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 0px; margin: 0px;
    margin-top: -3px
}

/* work index block */
div.indexblock-top {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}
div.indexblock-bottom {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}
hr.indexblock {
    border: 0.5px solid #999;
}
div.indexblock-category {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.indexblock-category .category {
    stroke: #F50;
    stroke-width: 1px;
    width: 10; height: 10;
    padding-right: 5px;
    transition: fill 0.5s;
}
.indexblock-category p:hover .category {
    fill: #F50;
}

/* navigation bar */
nav {
    position: sticky; top: 0;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    padding: var(--margin-top-width) var(--margin-side-width);
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #eeeeee40;
    backdrop-filter: blur(5px);
    background-color: #00000080;
}
nav a {
    font-family: "bicyclette", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text-main);
    opacity: 0.25;
    font-size: 14px;
    text-decoration: none;
    transition: opacity 0.75s;
}
nav a:hover {
    text-decoration: line-through;
    opacity: 1;
}
#navicon {
    position: fixed;
    padding-top: var(--margin-top-width);
    padding-left: var(--margin-side-width);
    z-index: 101;

    font-family: "bicyclette", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--color-hightlight);
    opacity: 0.5;
    font-size: 14px;
}